<ul>
    {{#each products}}
    <li>
        <p>Nombre: {{this.title}}</p>
        <p>Descripcion: {{this.description}}</p>
        <p>Codigo: {{this.code}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoria: {{this.category}}</p>
        <hr>
    </li>
    {{/each}}
</ul>