<h1>🛍️ Lista de productos</h1>
<hr>
<h2>🔽 Filtrar productos</h2>
<form method="GET" action="/products">
  <label for="category">Categoría:</label>
  <select name="category" id="category">
    <option value="">-- Todas --</option>
    <option value="Alimentos">Alimentos</option>
    <option value="Electronica">Electronica</option>
    <option value="Higiene">Higiene</option>
    <option value="Hogar">Hogar</option>
    <option value="Limpieza">Limpieza</option>
    <option value="Vehiculos">Vehiculos</option>
  </select>
  
  <label>Precio mínimo:</label>
  <input type="number" name="minPrice" />

  <label>Precio máximo:</label>
  <input type="number" name="maxPrice" />

  <label>Ordenar por precio:</label>
  <select name="sort">
    <option value="">--</option>
    <option value="asc">🔺 Ascendente</option>
    <option value="desc">🔻 Descendente</option>
  </select>

  <button type="submit">Aplicar filtros</button>
</form>
<hr>
<form id="cart-form">
  {{#each docs}}
    <div class="product">
      <h3>{{this.title}}</h3>
      <h4>{{this.price}}</h4>
      <input type="number" id="quantity-{{this._id}}" min="1" value="1" />
      <button type="button" onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    </div>
  {{/each}}
</form>

<hr>

<button style="background-color:rgb(69, 158, 69); color:whitesmoke" onclick= "irAlCarrito()">Ir al carrito</button>

<hr>

<div style="display:flex; justify-content:center">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">⏪</a>
  {{/if}}

  &nbsp;{{page}}&nbsp;

  {{#if hasNextPage}}
    <a href="{{nextLink}}">⏩</a>
  {{/if}}
</div>

<script>
  async function addToCart(productId) {
    const inputCantidad = document.getElementById(`quantity-${productId}`);
    const quantity = parseInt(inputCantidad.value);

    const cartId = localStorage.getItem('cartId');

    const payload = {
      productId,
      quantity
    };

    const response = await fetch(`/api/carts${cartId ? '/' + cartId : ''}`, {
      method: cartId ? 'PUT' : 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(payload)
    });

    const result = await response.json();
    if (result.status === 'success') {
      if (!cartId) localStorage.setItem('cartId', result.cartId);
      alert('Producto agregado');
    }
  }
</script>


<script>
  function irAlCarrito() {
  const cartId = localStorage.getItem('cartId');
  if (cartId) {
    window.location.href = `/cart/${cartId}`;
  } else {
    alert("Primero agrega un producto al carrito");
  }
}
</script>
